@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i&display=swap');

body, html {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1080px;
}

#wrapper {
  min-height: 100vh;
}

#navbar {
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 1.6rem 0;
}

@media (min-width: 550px) {
  #navbar {
    padding: 3rem 0;
  }
}

#website-title {
  font-size: 2.8rem;
  font-weight: 700;
  cursor: pointer;
  display: inline;
}

@media (min-width: 550px) {
  #website-title {
    font-size: 3.2rem;
  }
}

@media (min-width: 750px) {
  #website-title {
    font-size: 4rem;
  }
}

#navbar-menu-trigger-wrapper {
  float: right;
  font-size: 3rem;
}

#navbar-menu-trigger-wrapper > label {
  cursor: pointer;
}

#navbar-menu-trigger {
  display: none;
}

#navbar-links-container {
  float: right;
  display: none;
}

@media (min-width: 750px) {
  #navbar-menu-trigger-wrapper {
    display: none;
  }
}

ul.navbar-menu {
  background: white;
  border-bottom: 1px solid #ddd;
  font-size: 3rem;
}

@media (min-width: 750px) {
  ul.navbar-menu {
    display: none;
  }
}

li.navbar-menu-item {
  list-style: none;
  text-align: center;
  border-top: 1px solid #ddd;
  margin: 0;
  padding: 1.2rem 0;
}

@media (min-width: 750px) {
  #navbar-links-container {
    display: block;
  }
}

div.navbar-link {
  display: inline;
  margin-left: 1.8rem;
  font-size: 1.8rem;
}

@media (min-width: 1000px) {
  div.navbar-link {
    margin-left: 2rem;
    font-size: 2rem;
  }
}

#footer {
  position: relative;
  margin-top: 0;
  color: #888;
  padding: 1rem 0;
}

#language-switch-wrapper {
  text-align: center;
}

#language-switch-wrapper a {
  cursor: pointer;
}

#language-switch-wrapper .selected {
  font-weight: 500;
  color: #222;
}

@media (min-width: 750px) {
  #language-switch-wrapper {
    text-align: right;
  }
}

a.undecorated {
  color: inherit;
  text-decoration: inherit;
}

a.undecorated:hover {
  color: #0FA0CE;
}
