---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://mauriceyap.co.uk/</loc>
    <lastmod>{{ page.date.toISOString().split('T')[0] }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://mauriceyap.co.uk/#home</loc>
    <lastmod>{{ page.date.toISOString().split('T')[0] }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://mauriceyap.co.uk/#work</loc>
    <lastmod>{{ page.date.toISOString().split('T')[0] }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://mauriceyap.co.uk/#software-projects</loc>
    <lastmod>{{ page.date.toISOString().split('T')[0] }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://mauriceyap.co.uk/#music</loc>
    <lastmod>{{ page.date.toISOString().split('T')[0] }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>https://mauriceyap.co.uk/#connect</loc>
    <lastmod>{{ page.date.toISOString().split('T')[0] }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
</urlset>
